<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/"> Shop </a></li>
                <li> <a href="/add-product"> Add Products </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action = "/add-product" method = "POST">
            Enter item : <input type = "text" name = "item">
            <br>
            Enter item size : <input type = "text" name = "size">
            <br>
            <button type = "submit">Send</button>
        </form>
    </main>
</body>
</html>